*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("Sunset beautiful scenery.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
   
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li a.active{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.Introduction{
  max-width: 1200px;
  margin: auto;
}

.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.subheading{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

.subheading h2{
    color: #000;
    font-size: 25px;
    padding: 10px 20px;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
    background-color: rgb(255, 255, 255);
    color: #505220;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #aaab86;
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color: #aaab86;
}

.avatar {
    width: 80px;  
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

@media (max-width: 600px) {
    .avatar {
        width: 56px;
        height: 56px;
    }

}

.name{
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

.label {
    color: #000000;
    text-decoration: none;
    background-color: #aaab86;
    padding: 5px 10px;
    border-radius: 5px;
}

.github-link {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

footer {
  background-color: #aaab86;
  padding: 10px;
  text-align: center;
  color: white;
}

.github-link:hover { text-decoration: underline; }


